@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: grey;
}

header {
    margin-bottom: 50px;
}

h1 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 400%;
    margin-right: 50px, 0;
}

#navbar {
    font-size: 200%;
    letter-spacing: 3px;
    float: right;
}

#navbar, #logo {
    line-height: 75px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#navbar a {
    text-decoration: none;
    color: inherit;

}

#navbar a:hover {
    border-bottom: 2px solid ;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url(../images/studio-g1bbb99139_1920.jpg) no-repeat center center;
}

#image-border {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
.container {
    display: flex;
}